[data-tip] {
    position:relative;

}
[data-tip]::after {
    display:none;
    content:attr(data-tip);
    position:relative;
    padding:5px 8px;
    background:#1a1a1a;
    color:#fff;
    z-index:9;
    font-size: 0.75em;
    height:15px;
    line-height:18px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    white-space:nowrap;
    word-wrap:normal;
}
[data-tip]:hover:after {
    display:inline;
}