.tooltip-class {
    padding:5px 8px;
    background:#1a1a1a;
    color: #858585;
    z-index:9;
    font-size: 12px;
    line-height:18px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    top: -1px;
    text-align: left;
}

.tooltip-price {
    color: #ffffff;
}

.left-table-wrapper,.right-table-wrapper {
    overflow-x: visible !important;
}
