#crypto-correct-tooltip {
    display:none;
    position:absolute;
    padding:5px 8px;
    background:#1a1a1a;
    color:#fff;
    z-index:9;
    font-size: 12px;
    line-height:18px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    white-space:pre;
    word-wrap:normal;
    top: -1px;
    margin-left: 7px;
    text-align: left;
}

#crypto-correct-tooltip.total-and-unit {
    top: -10px;
}

#crypto-correct-tooltip span.crypto-correct-text {
    color: #868686;
}

#crypto-correct-tooltip span.crypto-correct-price {
    color: #ffffff;
}

#crypto-correct-tooltip.closeToScreen {
    margin-left: -200px;
}

.left-table-wrapper,.right-table-wrapper {
    overflow-x: visible !important;
}
